{%extends 'base.html' %}
{% block title %}{{user}}{% endblock %}

{% block content%}
  <div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">{{user.last_name}}{{user.first_name}}</h5>
            <p class="text-muted mb-1">{{user.email}}</p>
            <div class="d-flex justify-content-center mb-2">
              {% if perms.accounts.change_user%}
              <a href="{% url 'accounts:update' user.id %}" class="btn btn-primary">ویرایش</a>
              {%endif%}
              {% if request.user == user%}
              <a href="#" class="btn btn-outline-primary ms-1">تغییر رمز عبور</a>
            {%endif%}
              {% if perms.accounts.activation%}
              {% if user.is_active%}
              <a href="#" data-toggle="modal" data-target="#suspendModal"  title="تعلیق" class="btn btn-outline-primary ms-1" >تعلیق</a>
            {%else%}
            <a href="#" data-toggle="modal" data-target="#reactiveModal"  title="فعال سازی مجدد" class="btn btn-outline-primary ms-1" >فعال سازی مجدد</a>
            {%endif%}
            {%endif%}
            {% if perms.accounts.delete_user%}
              <a href="#" data-toggle="modal" data-target="#exampleModal"  title="Delete" class="btn btn-outline-primary ms-1" >حذف</a>
            {%endif%}
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">شناسه کاربر</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.id}}</p>
              </div>
            </div>
            <hr>


            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">نام</p>
              </div>
              <div class="col-sm-9">
                {% if user.first_name and user.last_name%}
                <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                {% else %}
                <p class="text-muted mb-0">-</p>
                {%endif%}
              </div>
            </div>
            <hr>
           
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">ایمیل</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
           
      
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">وضعیت</p>
              </div>
              {%if user.is_active%}
              <div class="col-sm-9">
                <span class="badge bg-success rounded-pill"> فعال </span>
              </div>
              {%else%}
              <div class="col-sm-9">
                <span class="badge bg-danger rounded-pill"> غیرفعال </span>
              </div>
              {%endif%}
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">آخرین ورود</p>
              </div>
              <div class="col-sm-9">
                {% if user.last_login%}
                <p class="text-muted mb-0">{{user.last_login}}</p>
                {%else%}
                <p class="text-muted mb-0">-</p>

                {% endif%}
              </div>
            </div>
           
          </div>
        </div>
      
      </div>
    </div>
  </div>

</section>



<!-- DELETE MODALS -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       کاربر یه طور کامل از سیستم پاک شود؟
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'accounts:delete' pk=user.pk %}" class="btn">تایید</a>
    </div>
    </div>
  </div>
</div>


      <!-- SUSPEND MODALS -->
      <div class="modal fade" id="suspendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید تعلیق کاربر</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              آیا از غیرفعال سازی کاربر مطمین هستید؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="#" class="btn">تایید</a>
          </div>
          </div>
        </div>
      </div>

        <!-- REACTIVE MODALS -->
        <div class="modal fade" id="reactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تایید تعلیق کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    آیا از فعال سازی مجدد کاربر مطمین هستید؟
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="" class="btn">تایید</a>
                </div>
                </div>
            </div>
            </div>

<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}