{% extends 'base_list.html' %}
{% block title %}لیست کاربران{% endblock %}
{%block list_title%}لیست کاربران{%endblock%}
{%block filter_field%}

<div class="col-sm-6">
    <label for="id_id" class="form-label">Id</label>
    <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
  </div>

  <div class="col-sm-6">
    <label for="email" class="form-label">ایمیل</label>
    <input  class="form-control" type="text" name="email" step="any" id="email" value="{{ request.GET.email }}" >
  </div>

  <div class="col-sm-6">
    <label for="name" class="form-label">نام</label>
    <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
  </div>

  <div class="col-sm-6">
    <label for="created_by_email" class="form-label">ایمیل ایجاد کننده
    </label>
    <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
  </div>

  <div class="col-sm-6">
    <label for="date" class="form-label">تاریخ</label>
    <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
  </div>

  <div class="col-sm-6">
    <label for="date_range">محدوده زمانی</label>
    <select class="form-select" name="date_range" id="date_range">
      <option value="" selected>---------</option>
      <option value="today">امروز</option>
      <option value="this_week">هفته گذشته</option>
      <option value="this_month">ماه گذشته</option>
    </select>
  </div>

  <div class="col-sm-6">
    <label  for="is_active">وضعیت</label>
    <select  class="form-select" name="is_active"  id="is_active">
      <option value="" selected="">---------</option>
      <option value="true">فعال</option>
      <option value="false">غیر فعال</option>
    </select>
    </div>

{%endblock%}
{%block buttons%}
<form action="#" method="post" id="deleteForm">
    {% csrf_token %}
  {%if perms.accounts.add_user%}
  <a href="#" class="btn btn-success"> افزودن کاربر جدید</a>
  {%endif%}
  {% if perms.accounts.view_reports%}
  <a href="#" class="btn btn-success me-2">گزارشات</a>
  {%endif%}
  {%if perms.accounts.delete_user%}
  <button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
  {%endif%}
{%endblock%}
{%block thead%}
<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">شناسه کاربر</th>
<th scope="col">نام</th>
<th scope="col">ایمیل</th>
<th scope="col">وضعیت</th>
<th scope="col">آخرین ورود</th>
<th scope="col">اکشن ها</th>{%endblock%}
{%block tbody%}
{%for i in users%}
<tr class="fw-normal">       
  <td><input type="checkbox" name="user_ids" value="{{ i.id }}" class="-checkbox"></td> <!-- Checkbox -->
  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
 

  <th>
    {% if i.last_name and i.first_name%}
    <span class="ms-2">{{i.first_name}} {{i.last_name}}</span>
    {%else%} 
    <span>-</span>
    {%endif%}
  </th>
  <td class="align-middle">
    <span>{{i.email}}</span>
  </td>
  <td class="align-middle">
    {% if i.is_active == True %}
    <span class="badge bg-success rounded-pill"> فعال </span>
    {% else %}
    <span class="badge bg-danger rounded-pill"> غیرفعال </span>
    {% endif %}
  </td>
  <td class="align-middle">
    {% if i.last_login%}
      <span>{{i.last_login}}</span>
    {%else%}
    <span>-</span>
  {%endif%}
    </td>
  <td class="align-middle">
    <a href="#" data-mdb-toggle="tooltip" title="Detail"> <i class="fas fa-info-circle"></i></a>
    {%if perms.accounts.change_user%}
    <a href="#" data-mdb-toggle="tooltip" title="Update"><i class="fas fa-edit" ></i></a>
    {%endif%}
  </td>
</tr>
{% empty%}
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th><span>یافت نشد</span></th>
<th></th>
<th></th>
<th></th>
{%endfor%}




<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>



{%endblock%}
{%block delete_content%}
کاربران انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}