{% extends 'base.html'%}
{% load static%}
{% block title %}{% endblock %}

{%block content%}
<div class="container">

    <section class="vh-100 gradient-custom-2" >
        <div class="container py-5 h-100">
          <div class="text-center pt-3 pb-2">
            <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
            <h2 class="my-4">{%block list_title%}{%endblock%}</h2>
          </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
                  <form class="table text-white mb-0" method="get" >
                    {%csrf_token%}
                    <div class="row g-3">
                        {%block filter_field%}{%endblock%}
                        <div class="col-sm-6">
                            <label  for="order_by">مرتب سازی</label>
                            <select  class="form-select" name="order_by"  id="order_by">
                              <option value="" selected="">---------</option>
                              <option value="created_at">تاریخ ایجاد(شروع از قدیمی ترین)</option>
                              <option value="-created_at"> تاریخ ایجاد (شروع از جدید ترین)</option>
                            </select>
                            </div>

                      <button class="w-100 btn btn-lg btn-outline-success" type="submit">جستجو</button>
                    </form>
                    <div class="mb-4">
                        {%block buttons%} {%endblock%}
                      </div>
  
                  <table class="table text-white mb-0">
                    <thead>
                      <tr>
                      {%block thead%}{%endblock%}
                      </tr>
                    </thead>
                    <tbody>
                        {%block tbody%}{%endblock%}
                    </tbody>
                  </table>
                  </form>
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">قبلی</span>
                                </a>
                            </li>
                        {% endif %}
                
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</a>
                        </li>
                
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">بعدی</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                </div>
              </div>
      
            </div>
          </div>
        </div>
</div>
</div>
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    {%block delete_content%}{%endblock%}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="confirmDelete">تایید</button>
                  </div>
              </div>
          </div>
      </div>

      <script>
        // Function to show delete button when checkboxes are selected
        document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                if (checkedCheckboxes.length > 0) {
                    document.getElementById('confirmDeleteBtn').style.display = 'inline-block';
                } else {
                    document.getElementById('confirmDeleteBtn').style.display = 'none';
                }
            });
        });
    
        // Function to show modal when delete button is clicked
        document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
            $('#deleteConfirmationModal').modal('show');
        });
    
        // Function to submit the form when confirm delete button in modal is clicked
        document.getElementById('confirmDelete').addEventListener('click', function() {
            $('#deleteForm').submit();
        });
    </script>
    
      
      </section>
<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}
